.song {
  background-color: darkblue;
  border: 2px solid black;
  display: flex;
  font-size: 26px;
  margin-top: 5px;
  padding: 7px 5px;
}

.song img {
  margin-right: 25px;
  width: 100px;
}

.song .album-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.song .album-info .track {
  font-size: 1.2em;
}

.song .album-info .artist {
  font-size: 0.9em;
}

.song.uploading {
  background-color: darkgoldenrod;
  color: black;
}

.song.downloading {
  background-color: darkgoldenrod;
  color: black;
}

.song.uploaded:not(.downloading) {
  background-color: darkslategrey;
}

.song:not(.uploaded):not(.uploading):hover {
  color: cyan;
}
