.song {
  align-content: center;
  background-color: #453c67;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 26px;
  height: 100px;
  margin-top: 5px;
  padding: 7px 25px 7px 10px;
  transition: 0.3s background-color ease;
}

.song img {
  margin-right: 25px;
  width: 100px;
}

.song .album-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding-right: 25px;
  text-align: left;
  width: 300px;
}

.song .album-info .track {
  font-size: 1.3em;
  height: 32px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song .album-info .artist {
  font-size: 0.8em;
}

.song .controls {
  align-items: center;
  display: flex;
}

.song .controls .control {
  font-size: 18px;
  width: fit-content;
}

.song-loading {
  align-items: center;
  display: flex;
  width: 75px;
}

.song.uploaded {
  padding-left: 25px;
}

.song:hover {
  background-color: #504577;
}
