.song {
  background-color: darkblue;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 5px;
  padding: 7px 5px;
}

.song.uploading {
  background-color: darkgoldenrod;
  color: black;
}

.song.downloading {
  background-color: darkgoldenrod;
  color: black;
}

.song.uploaded:not(.downloading) {
  background-color: darkslategrey;
}

.song:not(.uploaded):not(.uploading):hover {
  color: cyan;
}
