.container {
  padding-top: 0 !important;
}

.song-select {
  margin-top: 50px;
}

.error {
  background-color: red;
  margin-top: 50px;
}

.song {
  background-color: purple;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 5px;
  padding: 7px 5px;
  transition: 0.3s all ease;
  transition-delay: 0.5s;
}

.song.uploading {
  background-color: lightyellow;
  color: black;
  margin: 100px auto;
  padding: 75px 5px;
}

.song.uploading::before {
  content: 'Uploading ';
}

.song.uploaded:not(.uploading) {
  background-color: green;
}

.song:not(.uploaded):not(.uploading):hover {
  color: cyan;
}
