.container {
  padding-top: 0 !important;
}

.song-select {
  margin-top: 50px;
}

.error {
  background-color: red;
}

.song {
  background-color: purple;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 5px;
  padding: 7px 5px;
}

.song:hover {
  color: cyan;
}
